<div class="card">
    <div class="card-header">
        <h5>ข้อมูลช่องทางการจัดส่ง</h5>
        <button type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                (click)="shipmentFormModal.show('shipmentModal'); setDateNow(); resetFile('add');">
            <i class="icofont icofont-plus m-r-5"></i>
            เพิ่มช่องทางการจัดส่ง
        </button>
    </div>
    <div class="card-body">
        <div class="table-content crm-table">
            <div class="project-table">
                <div id="crm-contact" class="dt-responsive">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                            <div>
                                <label class="label-control">แสดง
                                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                                        <option [ngValue]="10">10</option>
                                        <option [ngValue]="25">25</option>
                                        <option [ngValue]="50">50</option>
                                        <option [ngValue]="100">100</option>
                                    </select>
                                    แถว
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div style="text-align: right;">
                                <label class="input-group-sm">ค้นหา:
                                    <input type="search"
                                           [(ngModel)]="filterQuery"
                                           class="form-control input-sm full-data-search"
                                           placement="top" ngbTooltip="ค้นหาช่องทางการจัดส่ง"
                                           placeholder="Search name">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table table-xs table-striped table-bordered full-data-table text-center"
                               [mfData]="shipments | dataFilterShipment : filterQuery"
                               #mf="mfDataTable"
                               [mfRowsOnPage]="rowsOnPage"
                               [(mfSortBy)]="sortBy"
                               [(mfSortOrder)]="sortOrder">
                            <thead class="thead-light">
                            <tr>
                                <th>
                                    <mfDefaultSorter by="index">ลำดับ</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Shipment">รูปภาพ</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="shipmentName">ชื่อช่องทางการจัดส่ง</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="shipmentComment">รายละเอียด</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="shipmentStartDate">อัพเดท</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="shipmentCreated">วันที่สร้าง</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter>Action</mfDefaultSorter>
                                </th>
                            </tr>
                            <tr>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of mf.data; let i = index;">
                                <td>#{{item.index}}</td>
                                <td><img class="img-40" [src]="item.shipmentImage" placement="top" ngbTooltip="{{item.shipmentName}}"></td>
                                <td>
                                    <a class="text-info" placement="top" ngbTooltip="{{item.shipmentName}}">
                                    {{item.shipmentName}}
                                    </a>
                                </td>
                                <td>
                                    <a placement="top" ngbTooltip="{{item.shipmentComment}}">
                                    {{item.shipmentComment}}
                                    </a>
                                </td>
                                <td>
                                    <label class="label bg-info" placement="top" ngbTooltip="{{item.shipmentStartDate}}">
                                    <i class="fa fa-calendar" aria-hidden="true"> </i>
                                    {{item.shipmentStartDate}}
                                    </label>
                                </td>
                                <td>
                                    <label class="label bg-info" placement="top" ngbTooltip="{{item.shipmentCreated | date: 'dd-MM-yyyy'}}">
                                    <i class="fa fa-calendar" aria-hidden="true"> </i>
                                    {{item.shipmentCreated | date: 'dd-MM-yyyy'}}
                                    </label>
                                </td>
                                <td class="action-icon">
                                    <a placement="top" ngbTooltip="View" class="m-r-15 crm-action-view text-info"
                                       (click)="viewShipment(item); modalDefault.show();resetFile();"><i
                                            class="fa fa-book"></i></a>
                                    <a placement="top" ngbTooltip="Edit" class="m-r-15 crm-action-edit text-primary"
                                       (click)="editShipment(item);modalDefault.show();resetFile();"><i
                                            class="fa fa-edit"></i></a>
                                    <a placement="top" ngbTooltip="Delete" class="crm-action-delete text-danger"
                                       (click)="deleteShipment(item)"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="8">
                                    <mfBootstrapPaginator
                                            class="pagination-main f-right pull-right"></mfBootstrapPaginator>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Shipment Start Model -->
<app-modal-animation [modalID]="'shipmentModal'" [modalClass]="'md-effect-13'" #shipmentFormModal>
    <h3 class="f-26 bg-primary">เพิ่มช่องทางการจัดส่ง</h3>
    <div class="text-center modal-body">

        <!--// Start insert data  //-->
        <form (ngSubmit)="onSubmit(shipmentForm);shipmentForm.reset()" #shipmentForm="ngForm" autocomplete="off">

            <div class="form-group">
                <div class="col-sm-12 col-12 col-md-12 text-center">
                    <img class="img-120" [src]="imageUrl">
                </div>
                <hr>
                <div class="input-group">
                    <label class="input-group-text file">เพิ่มรูปภาพ : </label>
                    <input type="file"
                           #Image accept="image/*"
                           ngModel
                           name="shipmentImage"
                           class="form-control file"
                           (change)="handleFileInputAdd($event.target.files)">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="input-group-text">ชื่อวิธีจัดส่ง : </label>
                    <input type="text"
                           ngModel
                           class="form-control"
                           name="shipmentName"
                           placeholder="Shipment-Name/ชื่อช่องทางการจัดส่ง" required autofocus>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="input-group-text">วันที่เริ่มงาน : </label>
                    <input class="form-control"
                           placeholder="{{today | date: 'yyyy-MM-dd'}}"
                           name="shipmentStartDate"
                           readonly
                           [(ngModel)]="modelPopup"
                           ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                          <span class="input-group-text" (click)="d.toggle()">
                            <i class="icofont icofont-ui-calendar"></i>
                          </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-float">
                <div class="form-line text-left">
                <label for="shipmentComment">รายละเอียด : </label>
                <textarea name="shipmentComment"
                    ngModel
                    id="shipmentComment"
                    cols="30"
                    rows="5"
                    class="form-control no-resize">
                </textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="f-left input-group-text">สถานะการใช้งาน : </label>
                    <ui-switch class="form-control input-group-text"
                               [ngModel]="true"
                               name="shipmentStatus">

                    </ui-switch>
                </div>
            </div>
            <button type="submit"
                    class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block">
                บันทึก
            </button>
            <button type="reset" (click)="shipmentFormModal.close('shipmentModal')"
                    class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">
                ปิด
            </button>
        </form>
    </div>

    <button (click)="shipmentFormModal.close('shipmentModal')" aria-label="Close" class="md-close-btn">
        <i class="icofont icofont-ui-close"></i>
    </button>
</app-modal-animation>

<app-modal-basic #modalDefault>
    <div class="app-modal-header">
        <h4 class="modal-title">
            # [{{ shipment.shipmentId }}] - {{ shipment.shipmentName }}
        </h4>
        <button type="button" class="close basic-close" (click)="modalDefault.hide()">
            <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="app-modal-body text-center">
        <form #shipmentUpdateForm="ngForm">
            <div class="col-sm-12 col-12 text-center">
                <!--<img [src]="shipment.shipmentImage">-->
                <img class="img-120" [src]="showImg">
            </div>
            <hr>
            <div class="input-group">
                <div class="col-sm-4 col-4">แก้ไขรูปภาพ :</div>
                <div class="col-sm-8 col-8">
                    <input type="file"
                           [disabled]="isReadOnly"
                           #Image
                           accept="image/*"
                           [(ngModel)]="resetFileDefault"
                           name="shipmentImage"
                           class="form-control file"
                           (change)="handleFileInputEdit($event.target.files)">
                </div>
            </div>

            <table class="table table-striped text-left m-t-20 table-sm table-responsive-sm">
                <tr>
                    <td>ชื่อการจัดส่ง :</td>
                    <td>
                        <input type="text"
                               [disabled]="isReadOnly"
                               [(ngModel)]="shipment.shipmentName"
                               value="{{shipment.shipmentName}}"
                               class="form-control"
                               name="shipmentName" autofocus>
                    </td>
                </tr>
                <tr>
                    <td>รายละเอียด : </td>
                    <td>
                        <textarea name="shipmentComment"
                            [disabled]="isReadOnly"
                            [(ngModel)]="shipment.shipmentComment"
                            value="{{shipment.shipmentComment}}"
                            cols="30"
                            rows="5"
                            class="form-control no-resize">
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <!--<div class="form-group">-->
                        <!--<div class="input-group">-->
                            <!--<label class="f-left input-group-text">สถานะการใช้งาน : </label>-->
                            <!--<ui-switch class="form-control input-group-text" [ngModel]="false"-->
                                       <!--name="shipmentStatus"></ui-switch>-->
                        <!--</div>-->
                    <!--</div>-->
                    <td>สถานะการใช้งาน : </td>
                    <td>
                            <!--<textarea name="shipmentComment"-->
                                      <!--[disabled]="isReadOnly"-->
                                      <!--[(ngModel)]="shipment.shipmentComment"-->
                                      <!--value="{{shipment.shipmentComment}}"-->
                                      <!--cols="30"-->
                                      <!--rows="5"-->
                                      <!--class="form-control no-resize">-->
                            <!--</textarea>-->
                        <ui-switch class="form-control input-group-text"
                                   [disabled]="isReadOnly"
                                   [(ngModel)]="shipment.shipmentStatus"
                                   name="shipmentStatus">
                        </ui-switch>
                    </td>
                </tr>
                <tr>
                    <td>เริ่มงาน :</td>
                    <td>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control"
                                       [disabled]="isReadOnly"
                                       readonly
                                       name="shipmentStartDate"
                                       [(ngModel)]="modelPopupShipmentStartDate"
                                       ngbDatepicker #ddStart="ngbDatepicker">
                                <div class="input-group-append">
                                      <span class="input-group-text" (click)="ddStart.toggle()">
                                        <i class="icofont icofont-ui-calendar"></i>
                                      </span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- <tr>-->
                    <!--<td>สร้างเมื่อ :</td>-->
                    <!--<td>-->
                        <!--<div class="form-group">-->
                            <!--<div class="input-group">-->
                                <!--<input class="form-control"-->
                                       <!--[disabled]="true"-->
                                       <!--readonly-->
                                       <!--name="shipmentCreated"-->
                                       <!--[ngModel]="modelPopupShipmentCreated"-->
                                       <!--ngbDatepicker #ddCreate>-->
                                <!--<div class="input-group-append">-->
                                      <!--<span class="input-group-text" (click)="ddCreate.toggle()">-->
                                        <!--<i class="icofont icofont-ui-calendar"></i>-->
                                      <!--</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr> -->
            </table>
        </form>
    </div>
    <div class="app-modal-footer">
        <button type="button"
                class="btn btn-primary ripple light"
                *ngIf="!isReadOnly"
                (click)="updateShipment(shipmentUpdateForm)">
            บันทึก
        </button>
        <button type="button"
                (click)="modalDefault.hide()"
                class="btn btn-danger ripple light">ปิด
        </button>
    </div>
</app-modal-basic>
