<!--<div class="text-center">-->
  <!--<img src="assets/images/logo_rising-sig.png" alt="Rising Enterprise">-->
<!--</div>-->
<!-- <section class="content"> -->
<div class="four-zero-four">
  <div class="error-code">404</div>
  <div class="error-message">This page doesn't exist</div>
  <div class="button-place">
    <!--<a [routerLink]="['/']" class="btn btn-default btn-lg waves-effect cursorLink">GO TO HOMEPAGE</a>-->
    <a (click)="onBack()" class="btn btn-default btn-lg waves-effect cursorLink"><button class="btn-sm btn-primary">GO BACK</button></a>
  </div>
</div>
<!-- </section> -->