<div class="card">
  <div class="card-header">
    <h5>ตั้งค่า Pixels</h5>
    <button type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
            [routerLink]="['/management/settings/pixels-create']">
      <i class="icofont icofont-plus m-r-5"></i>เพิ่มข้อมูล Pixels
    </button>
    <button type="button" class="btn btn-sm btn-primary-modal waves-effect waves-light f-right d-inline-block md-trigger"
            (click)="modalDefault.show();">
      <i class="icofont icofont-plus m-r-5"></i>Pixels(Popup)
    </button>
    <label class="label-control">แสดง
      <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
        <option [ngValue]="10">10</option>
        <option [ngValue]="25">25</option>
        <option [ngValue]="50">50</option>
        <option [ngValue]="100">100</option>
      </select>
      แถว
    </label>
  </div>
  <!--<div class="card-body">-->
  <div class="table-content crm-table">
    <div class="project-table">
      <div id="crm-contact" class="dt-responsive">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
            <div>
              <!--<label class="label-control">แสดง-->
              <!--<select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">-->
              <!--<option [ngValue]="10">10</option>-->
              <!--<option [ngValue]="25">25</option>-->
              <!--<option [ngValue]="50">50</option>-->
              <!--<option [ngValue]="100">100</option>-->
              <!--</select>-->
              <!--แถว-->
              <!--</label>-->
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div style="text-align: right;">
              <!--<label class="input-group-sm">ค้นหา:-->
              <!--<input type="search"-->
              <!--[(ngModel)]="filterQuery"-->
              <!--class="form-control input-sm full-data-search"-->
              <!--placement="top" ngbTooltip="ค้นหาข้อมูลผู้ใช้งานระบบ"-->
              <!--placeholder="Search name">-->
              <!--</label>-->
            </div>
          </div>
        </div>
        <div class="table-responsive-sm">
          <table class="table table-sm table-hover table-borderless full-data-table"
                 [mfData]="pixels"
                 #mf="mfDataTable"
                 [mfRowsOnPage]="rowsOnPage"
                 [(mfSortBy)]="sortBy"
                 [(mfSortOrder)]="sortOrder">
            <thead class="table-striped">
            <tr class="text-center table-light">
              <th class="text-center">No.</th>
              <th class="text-center">
                <mfDefaultSorter by="pixelName">ช่องทาง</mfDefaultSorter>
              </th>
              <!--<th class="text-center">-->
              <!--<mfDefaultSorter by="pixelView">เหตุการณ์</mfDefaultSorter>-->
              <!--</th>-->
              <th class="text-center">
                <mfDefaultSorter by="pixelCustomEvent">Event</mfDefaultSorter>
              </th>
              <th class="text-center">
                <mfDefaultSorter by="pixelCustom">ค่า</mfDefaultSorter>
              </th>
              <th class="text-center">
                <mfDefaultSorter by="pixelsStatus">สถานะ</mfDefaultSorter>
              </th>
              <th class="text-center">
                <mfDefaultSorter by="pixelLastupdate">อัพเดท</mfDefaultSorter>
              </th>
              <!--<th class="text-center">-->
              <!--<mfDefaultSorter by="pixelCreated">สร้าง</mfDefaultSorter>-->
              <!--</th>-->
              <th class="text-center">
                Action
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of mf.data;let x = index;">
              <td class="text-center cursorLink"
                  [routerLink]="'/management/settings/pixels-edit/' + p.pixelId">
                {{x+1}}
              </td>
              <td class="text-left cursorLink"
                  [routerLink]="'/management/settings/pixels-edit/' + p.pixelId">
                <ng-container *ngFor="let i of channels">
                  <p *ngIf="i.channelId == p.channelId">
                    <img [src]="i.channelImage" class="img-20">
                    {{i.channelName}}
                  </p>
                </ng-container>
              </td>
              <!--<td class="text-left cursorLink"-->
              <!--[routerLink]="'/management/settings/pixels-edit/' + p.pixelId">-->
              <!--<ng-container *ngFor="let cl of pixelCustomList">-->
              <!--<p *ngIf="cl.id == p.pixelCustomId">-->
              <!--{{cl.customName}}-->
              <!--</p>-->
              <!--</ng-container>-->
              <!--</td>-->
              <td class="text-left cursorLink"
                  [routerLink]="'/management/settings/pixels-edit/' + p.pixelId">
                <p>{{p.pixelCustomEvent}}</p>
              </td>
              <td class="text-center"><p>{{p.pixelCustom}}</p></td>
              <td class="text-center">
                <label *ngIf="p.pixelStatus" class="label badge-packs">เปิด</label>
                <label *ngIf="!p.pixelStatus" class="label label-deliverys">ปิด</label>
              </td>
              <td class="text-center">
                <label class="label label-primary">
                  {{p.pixelLastupdate|date: 'dd-MM-yyyy'}}
                </label>
              </td>
              <!--<td class="text-center">-->
              <!--<label class="label label-primary border-double">-->
              <!--{{p.pixelCreated|date:'dd-MM-yyyy'}}-->
              <!--</label>-->
              <!--</td>-->
              <td class="text-center">
                <i class="fa fa-edit m-r-5 text-primary cursorLink"
                   placement="top" ngbTooltip="Edit"
                   (click)="editPixcel(p.pixelId);"></i>&nbsp;
                <i class="fa fa-trash text-danger cursorLink"
                   placement="top" ngbTooltip="Delete"
                   (click)="deletePixcel(p.pixelId);"></i>&nbsp;
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="7">
                <mfBootstrapPaginator
                        class="pagination-main f-right pull-right">
                </mfBootstrapPaginator>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-basic #modalDefault>
  <div class="app-modal-header">
    <h5 class="modal-title">
      <i class="icofont icofont-plus m-r-5 text-success"></i>เพิ่มข้อมูล Pixels
    </h5>
    <button type="button" class="close basic-close" (click)="modalDefault.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body text-center">
    <form #addPixelsForm="ngForm" autocomplete="off">
      <div class="input-group">
        <div class="col-sm-4 col-4 text-right"><b class="text-danger">(*) </b>ช่องทาง :</div>
        <div class="col-sm-8 col-8 text-left">
          <select class="form-control form-control-sm"
                  [(ngModel)]="channelIdSet"
                  name="channelId">
            <!--<option class="text-print" value="">&#45;&#45; กรุณาเลือกช่องทาง &#45;&#45;</option>-->
            <option class="text-print"
                    *ngFor="let c of channels;"
                    [disabled]="!c.channelStatus"
                    [value]="c.channelId">
              {{c.channelName}}
            </option>
          </select>
        </div>
      </div>
      <!--<div class="input-group">-->
      <!--<div class="col-sm-4 col-4 text-right"><b class="text-danger">(*) </b>เหตุการณ์ :-->
      <!--</div>-->
      <!--<div class="col-sm-8 col-8">-->
      <!--<select class="form-control"-->
      <!--[ngModel]="pixelCustomList[1].id"-->
      <!--name="pixelCustomId">-->
      <!--&lt;!&ndash;<option class="text-success" value="">-กรุณาเลือกช่องทาง-</option>&ndash;&gt;-->
      <!--<option class="text-print"-->
      <!--*ngFor="let pc of pixelCustomList;"-->
      <!--[disabled]="!pc.customDisable"-->
      <!--[value]="pc.id">-->
      <!--{{pc.customName}}-->
      <!--</option>-->
      <!--</select>-->
      <!--</div>-->
      <!--</div>-->
      <div class="input-group">
        <div class="col-sm-4 col-4 text-right">Event :</div>
        <div class="col-sm-8 col-8 text-left">
          <input type="text"
                 name="pixelCustomEvent"
                 ngModel
                 class="form-control form-control-sm">
        </div>
      </div>
      <!--<div class="input-group">-->
      <!--<div class="col-sm-4 col-4 text-right">ชื่อ Pixel :</div>-->
      <!--<div class="col-sm-8 col-8">-->
      <!--<input type="text" name="pixelName" ngModel class="form-control">-->
      <!--</div>-->
      <!--</div>-->
      <div class="input-group">
        <div class="col-sm-4 col-4 text-right">Pixel ID :</div>
        <div class="col-sm-8 col-8 text-left">
          <input type="text"
                 name="pixelFBId"
                 ngModel
                 class="form-control form-control-sm">
        </div>
      </div>
      <!--<div class="input-group">-->
      <!--<div class="col-sm-4 col-4 text-right">ชนิด :</div>-->
      <!--<div class="col-sm-8 col-8">-->
      <!--<input type="text" name="pixelView" ngModel class="form-control">-->
      <!--</div>-->
      <!--</div>-->
      <div class="input-group">
        <div class="col-sm-4 col-4 text-right">ค่า :</div>
        <div class="col-sm-8 col-8 text-left">
          <input type="text"
                 name="pixelCustom"
                 ngModel
                 class="form-control form-control-sm">
        </div>
      </div>
      <div class="input-group">
        <div class="col-sm-4 col-4 text-right">หมายเหตุ :</div>
        <div class="col-sm-8 col-8 text-left">
          <input type="text"
                 name="pixelComment"
                 ngModel
                 class="form-control form-control-sm">
        </div>
      </div>
      <div class="input-group">
        <div class="col-sm-4 col-4 text-right">สถานะ :</div>
        <div class="col-sm-8 col-8 text-left">
          <ui-switch
                  size="small"
                  [ngModel]="true"
                  name="pixelStatus">
          </ui-switch>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button type="button"
            class="btn btn-primary ripple light"
            (click)="onSubmit(addPixelsForm.value);modalDefault.hide();">
      บันทึก
    </button>
    <button type="button"
            (click)="modalDefault.hide()"
            class="btn btn-dark ripple light">ปิด
    </button>
  </div>
</app-modal-basic>