
<div class="card">
    <div class="card-header">
        <h5>ข้อมูลธนาคาร</h5>
        <button type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                placement="top" ngbTooltip="เพิ่มข้อมูลธนาคาร"
                (click)="bankFormModal.show('bankModal'); setDateNow(); resetFile('add');">
            <i class="icofont icofont-plus m-r-5"></i>
            เพิ่มธนาคาร
        </button>
    </div>
    <div class="card-body">
        <div class="table-content crm-table">
            <div class="project-table">
                <div id="crm-contact" class="dt-responsive">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                            <div>
                                <label class="label-control">แสดง
                                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                                        <option [ngValue]="10">10</option>
                                        <option [ngValue]="25">25</option>
                                        <option [ngValue]="50">50</option>
                                        <option [ngValue]="100">100</option>
                                    </select>
                                    แถว
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div style="text-align: right;">
                                <label class="input-group-sm">ค้นหา:
                                    <input type="search"
                                           [(ngModel)]="filterQuery"
                                           class="form-control input-sm full-data-search"
                                           placement="top" ngbTooltip="ค้นหาข้อมูลธนาคาร"
                                           placeholder="Search name">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table table-xs table-striped table-bordered full-data-table text-center"
                               [mfData]="banks | dataFilterBank : filterQuery"
                               #mf="mfDataTable"
                               [mfRowsOnPage]="rowsOnPage"
                               [(mfSortBy)]="sortBy"
                               [(mfSortOrder)]="sortOrder">
                            <thead class="thead-light">
                            <tr>
                                <th>
                                    <mfDefaultSorter by="index">ลำดับ</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter>รูปภาพ</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="bankName">ชื่อธนาคาร</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="bankSerialNumber">เลขที่บัญชี</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="bankBranchname">ชื่อสาขา</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="bankComment">รายละเอียด</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="bankCreated">วันที่สร้าง</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter>Action</mfDefaultSorter>
                                </th>
                            </tr>
                            <tr>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of mf.data; let i = index;">
                                <td>#{{item.index}}</td>
                                <td>
                                    <img class="img-40" [src]="item.bankImage" placement="top" ngbTooltip="{{item.bankName}}">
                                </td>
                                <td>
                                    <label class="text-info" placement="top" ngbTooltip="{{item.bankName}}">
                                    {{item.bankName}}
                                    </label>
                                </td>
                                <td *ngIf="item.bankSerialNumber">
                                    <label class="label label-inverse-primary" placement="top" ngbTooltip="{{item.bankSerialNumber}}">
                                        <i class="fa fa-book" aria-hidden="true"> </i>
                                    {{item.bankSerialNumber}}
                                    </label>
                                </td>
                                <td *ngIf="!item.bankSerialNumber">
                                        {{item.bankSerialNumber}}
                                </td>
                                <td>
                                    <label class="label label-inverse-primary" placement="top" ngbTooltip="{{item.bankBranchname}}">
                                    {{item.bankBranchname}}
                                    </label>
                                </td>
                                <td>
                                    <a placement="top" ngbTooltip="{{item.bankComment}}">
                                    {{item.bankComment}}
                                    </a>
                                </td>
                                <td>
                                    <label class="label bg-info" placement="top" ngbTooltip="{{item.bankCreated | date: 'dd-MM-yyyy'}}">
                                        <i class="fa fa-calendar" aria-hidden="true"> </i>
                                    {{item.bankCreated | date: 'dd-MM-yyyy'}}
                                    </label>
                                </td>
                                <td class="action-icon">
                                    <a placement="top" ngbTooltip="View" class="m-r-15 crm-action-view text-info"
                                       (click)="viewBank(item); modalDefault.show();resetFile();"><i
                                            class="fa fa-book"></i></a>
                                    <a placement="top" ngbTooltip="Edit" class="m-r-15 crm-action-edit text-primary"
                                       (click)="editBank(item);modalDefault.show();resetFile();"><i
                                            class="fa fa-edit"></i></a>
                                    <a placement="top" ngbTooltip="Delete" class="crm-action-delete text-danger"
                                       (click)="deleteBank(item)"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="8">
                                    <mfBootstrapPaginator
                                            class="pagination-main f-right pull-right"></mfBootstrapPaginator>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Bank Start Model -->
<app-modal-animation [modalID]="'bankModal'" [modalClass]="'md-effect-13'" #bankFormModal>
    <h3 class="f-26 bg-primary">เพิ่มข้อมูลธนาคาร</h3>
    <div class="text-center  modal-body">

        <!--// Start insert data  //-->
        <form (ngSubmit)="onSubmit(bankForm);bankForm.reset();" #bankForm="ngForm" autocomplete="off">
            <div class="form-group">
                <div class="col-sm-12 col-12 col-md-12 text-center">
                    <img class="img-120" [src]="imageUrl">
                </div>
                <hr>
                <div class="input-group">
                    <label class="input-group-text file">เพิ่มรูปภาพ : </label>
                    <input type="file"
                           #Image accept="image/*"
                           ngModel
                           name="bankImage"
                           class="form-control file"
                           (change)="handleFileInputAdd($event.target.files)">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="input-group-text">ชื่อธนาคาร : </label>
                    <input type="text"
                           ngModel
                           class="form-control"
                           name="bankName"
                           placeholder="Bank-Name/ชื่อธนาคาร" required autofocus>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="input-group-text">เลขที่บัญชีธนาคาร : </label>
                    <input type="text"
                           [textMask]="{mask: maskUsbank}"
                           ngModel
                           class="form-control"
                           name="bankSerialNumber"
                           placeholder="BankSerialNumber/เลชที่บัญชีธนาคาร">
                </div>
            </div>
            <div class="input-group">
                <label class="input-group-text">สาขา : </label>
                <input type="text"
                       ngModel
                       name="bankBranchname"
                       class="form-control"
                       placeholder="ฺBranchname/ชื่อสาขา">
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="input-group-text">วันที่อัพเดท : </label>
                    <input class="form-control"
                           placeholder="{{today | date: 'yyyy-MM-dd'}}"
                           name="bankStartDate"
                           readonly
                           [(ngModel)]="modelPopup"
                           ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                          <span class="input-group-text" (click)="d.toggle()">
                            <i class="icofont icofont-ui-calendar"></i>
                          </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-float">
                <div class="form-line text-left">
                <label for="bankComment">รายละเอียด : </label>
                <textarea name="bankComment"
                    ngModel
                    id="bankComment"
                    cols="30"
                    rows="5"
                    class="form-control no-resize">
                </textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="f-left input-group-text">สถานะการใช้งาน : </label>
                    <ui-switch class="form-control input-group-text" [ngModel]="true"
                               name="bankStatus"></ui-switch>
                </div>
            </div>
            <button type="submit"
                    class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block">
                บันทึก
            </button>
            <button type="reset" (click)="bankFormModal.close('bankModal')"
                    class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">
                ปิด
            </button>
        </form>
    </div>

    <button (click)="bankFormModal.close('bankModal')" aria-label="Close" class="md-close-btn">
        <i class="icofont icofont-ui-close"></i>
    </button>
</app-modal-animation>

<app-modal-basic #modalDefault>
    <div class="app-modal-header">
        <h4 class="modal-title">
            # [{{ bank.bankId }}] - {{ bank.bankName }}
        </h4>
        <button type="button" class="close basic-close" (click)="modalDefault.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body text-center">
        <form #bankUpdateForm="ngForm" autocomplete="off">
            <div class="col-sm-12 col-12 text-center">
                <!--<img [attr.src]="bank.bankImage">-->
                <img class="img-120" [src]="showImg">
            </div>
            <hr>
            <div class="input-group">
                <div class="col-sm-4 col-4">แก้ไขรูปภาพ :</div>
                <div class="col-sm-8 col-8">
                    <input type="file"
                           [disabled]="isReadOnly"
                           #Image
                           accept="image/*"
                           [(ngModel)]="resetFileDefault"
                           name="bankImage"
                           class="form-control file"
                           (change)="handleFileInputEdit($event.target.files)">
                </div>
            </div>

            <table class="table table-striped text-left m-t-20 table-sm table-responsive-sm">
                <tr>
                    <td>ชื่อธนาคาร :</td>
                    <td>
                        <input type="text"
                               [disabled]="isReadOnly"
                               [(ngModel)]="bank.bankName"
                               value="{{bank.bankName}}"
                               class="form-control"
                               name="bankName" autofocus>
                    </td>
                </tr>
                <tr>
                    <td>เลขที่บัญชีธนาคาร :</td>
                    <td>
                        <input type="text"
                               [textMask]="{mask: maskUsbank}"
                               [disabled]="isReadOnly"
                               [(ngModel)]="bank.bankSerialNumber"
                               value="{{bank.bankSerialNumber}}"
                               class="form-control"
                               name="bankSerialNumber">
                </tr>
                <tr>
                    <td>สาขา :</td>
                    <td>
                        <input type="text"
                               [disabled]="isReadOnly"
                               [(ngModel)]="bank.bankBranchname"
                               value="{{bank.bankBranchname}}"
                               class="form-control"
                               name="bankBranchname">
                    </td>
                </tr>
                <tr>
                    <td>รายละเอียด : </td>
                    <td>
                        <textarea name="bankComment"
                                  [disabled]="isReadOnly"
                                  [(ngModel)]="bank.bankComment"
                                  value="{{bank.bankComment}}"
                                  cols="30"
                                  rows="5"
                                  class="form-control no-resize">
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>สถาณะการใช้งาน : </td>
                    <td>
                        <ui-switch class="form-control input-group-text"
                                   [disabled]="isReadOnly"
                                   [(ngModel)]="bank.bankStatus"
                                   name="bankStatus">
                        </ui-switch>
                    </td>
                </tr>
                <tr>
                    <td>อัพเดท : </td>
                    <td>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control"
                                       [disabled]="isReadOnly"
                                       readonly
                                       name="bankStartDate"
                                       [(ngModel)]="modelPopupBankStartDate"
                                       ngbDatepicker #ddStart="ngbDatepicker">
                                <div class="input-group-append">
                                      <span class="input-group-text" (click)="ddStart.toggle()">
                                        <i class="icofont icofont-ui-calendar"></i>
                                      </span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="app-modal-footer">
        <button type="button"
                class="btn btn-primary ripple light"
                *ngIf="!isReadOnly"
                (click)="updateBank(bankUpdateForm)">
            บันทึก
        </button>
        <button type="button"
                (click)="modalDefault.hide()"
                class="btn btn-danger ripple light">ปิด
        </button>
    </div>
</app-modal-basic>
